/*****************************************************************************
  IPHONE SPECIFIC STYLES
*****************************************************************************/
#now-playing { font-size: 14px; line-height: 20px; min-height: 62px; width: 312px; }
#now-playing #track { font-size: 15px; }

#album-art, #highlight { height: 320px; width: 320px; }
#album-art { background-image: url(/images/noartwork-iphone.png); background-position: 50% 70px; padding: 70px 0; }

#controls { bottom: 0; height: 70px; top: auto; width: 320px; }
#controls li { margin: 0 10px; }
