[submodule "lib/Socket.IO-node"]
	path = lib/Socket.IO-node
	url = git://github.com/LearnBoost/Socket.IO-node.git
[submodule "public/javascripts/Socket.IO"]
	path = public/javascripts/Socket.IO
	url = git://github.com/LearnBoost/Socket.IO.git
