html, body { height: 100%; }
body { background: #eee; font: 12px "Helvetica Neue", Helvetica, Verdana, sans-serif; min-height: 100%; }

#container { height: 100%; position: relative; }

#controls { background: #787878; border-top: 1px solid #292929; bottom: 0; height: 42px; position: fixed; width: 100%; }
#controls ul { background: #4e4e4e; background: -webkit-gradient(linear, left top, left bottom, from(#707070), to(#4e4e4e)); display: block; height: 49px; margin-top: 1px; width: 100%; }
#controls ul li { cursor: pointer; display: block; float: left; line-height: 40px; height: 42px; margin: 0 10px; }

#controls ul li#volume_container { background: #2f2f2f; background: -webkit-gradient(linear, left top, left bottom, from(#262626), to(#2f2f2f)); border: 1px solid #161616; border-radius: 7px; cursor: default; display: none; height: 7px; margin-top: 15px; position: relative; width: 80px; }
#controls ul li#volume_container b { background: #fff; border: 1px solid #090909; border-radius: 7px; cursor: pointer; height: 7px; margin-left: -1px; position: absolute; top: -1px; width: 7px; }

#controls ul li.separator { background: #333; width: 1px; }